#header
  min-height: 100vh
  overflow-y: hidden
  background-color: rgb(160,104,5)
  .container
    position: relative
    height: 100vh
  #nav
    padding-top: 50px
    .logo
      float: left
      height: 50px
      width: auto
    .goback
      float: right
      color: #FFFFFF
      text-decoration: none
      padding-top: 10px
      font-family: 'Source Sans Pro', sans-serif
  .title-container
    margin-top: 90px
    margin-left: 20px
    color: #FFFFFF
    font-family: 'Source Sans Pro', sans-serif
    .uppertitle
      text-transform: uppercase
      font-weight: 400
    .title
      font-size: 42px
  .feature-image
    width: 100%
    position: absolute
    bottom: -200px
    img
      width: 100%

#feature-lft
  
