@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')
@import 'partials/partials'
@import 'hover-min.css'

@import 'pages/shh'

.container
  width: 80%
  max-width: 1640px
  margin: 0 auto

.clearfix::after
  content: ""
  clear: both
  display: table

.bg-orange
  background-color: rgb(161,104,6)

.bg-grey
  background-color: rgb(91, 91, 91)

.gold
  background-color: rgb(161,104,6) !important
